@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* title-card */
@layer components {
    .title-card {
      @apply grid gap-x-2 gap-y-1 p-2;
    }
  
    .dense {
      grid-template-areas:
        "cover title author stats status"
        "cover tags tags tags tags"
        "cover description description description description";
  
      grid-template-columns: 84px auto 1fr auto auto;
      grid-template-rows: auto auto 1fr;
    }
  
    .normal {
      grid-template-areas:
        "cover title title"
        "cover stats status"
        "cover tags tags"
        "cover description description";
  
      grid-template-columns: min(25%, 150px) 1fr;
      grid-template-rows: auto auto auto 1fr;
    }
  
    .cover-only {
      @apply block p-0 relative;
    }
  
    .cover {
      grid-area: cover;
    }
  
    .title {
      grid-area: title;
    }
  
    .author {
      @apply overflow-y-hidden text-ellipsis whitespace-nowrap;
      grid-area: author;
    }
  
    .stats {
      grid-area: stats;
    }
  
    .status {
      grid-area: status;
    }
  
    .tags {
      grid-area: tags;
    }
  
    .description {
      @apply relative overflow-y-hidden text-sm leading-5;
      grid-area: description;
    }
  
    .description::after {
      @apply content-["_"] block absolute w-full bottom-0 right-0 h-5 bg-gradient-to-t from-secondary;
    }
  
    .cover-only .title {
      @apply w-full px-4 pt-3 pb-2 absolute bottom-0 left-0 text-white font-normal text-sm leading-6 line-clamp-2 sm:line-clamp-3 md:line-clamp-4 lg:line-clamp-5 bg-gradient-to-t from-black;
  
      text-shadow: 0 0 3px theme(colors.black);
    }
  
    .cover-only .cover {
      @apply w-full inline-block;
    }
  
    .dense .title,
    .dense .author {
      @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
    }
  
    .dense .status {
      display: inline;
    }
  
    .normal .author,
    .cover .author,
    .cover .status,
    .cover-only .stats,
    .cover-only .tags,
    .cover-only .status,
    .cover-only .author {
      display: none;
    }
  
    .dense .description {
      max-height: 4.3em;
    }
  
    .normal .description {
      height: 8.6em;
    }
  
    .cover-only .description {
      display: none;
    }
  
    @media (max-width: theme(screens.sm)) {
      .dense {
        grid-template-areas:
          "cover title"
          "cover stats"
          "cover tags"
          "description description";
  
        grid-template-columns: 64px 1fr;
        grid-template-rows: auto auto 1fr auto;
      }
  
      .dense .author,
      .dense .status,
      .normal .status {
        display: none;
      }
    }
  }

  @layer base {
    @font-face {
      font-family: "Spartan";
      src: url("./fonts/Spartan-Regular.ttf") format("truetype");
      font-weight: 400;
    }
  
    @font-face {
      font-family: "Spartan";
      src: url("../public/fonts/Spartan-Medium.ttf") format("truetype");
      font-weight: 500;
    }
  
    @font-face {
      font-family: "Spartan";
      src: url("../public/fonts/Spartan-SemiBold.ttf") format("truetype");
      font-weight: 600;
    }
  
    @font-face {
      font-family: "Spartan";
      src: url("../public/fonts/Spartan-Bold.ttf") format("truetype");
      font-weight: 700;
    }
  
    :root {
      /* primary */
      --color-primary-400: 255 103 64;
      --color-primary-500: 230 97 62;
  
      /* neutral */
      --color-neutral-100: 255 255 255;
      --color-neutral-200: 250 250 250;
      --color-neutral-300: 230 230 230;
  
      --color-neutral-400: 240 241 242;
      --color-neutral-500: 180 185 190;
      --color-neutral-800: 77 77 77;
      --color-neutral-900: 36 36 36;
  
      --color-status-blue: 0 201 245;
      --color-status-green: 4 208 0;
      --color-status-grey: 196 196 196;
      --color-status-red: 255 64 64;
      --color-status-yellow: 218 117 0;
  
      --swiper-theme-color: rgba(255, 103, 64, 1);
  
      --nav-height: 4rem;
      --banner-height: 13.5rem;
      --banner-overlap: calc(var(--nav-height) + 0.5rem);
  
      --tab-nav-padding: 0.25rem;
    }
  
    body,
    html,
    #__next {
      @apply h-full flex flex-col flex-grow;
    }
  
    html,
    body {
      @apply text-black bg-white;
    }
  
    ul,
    li {
      list-style-type: none;
    }
  
    @media (min-width: theme(screens.sm)) {
      *::-webkit-scrollbar {
        width: 5px;
        height: 10px;
      }
  
      *::-webkit-scrollbar-thumb {
        background: rgb(var(--color-neutral-500));
      }
    }
  }
  
  @layer utilities {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  
    .icon {
      @apply flex-shrink-0;
    }
  
    .icon-base {
      @apply w-8 h-8;
    }
  
    .icon-medium {
      @apply w-6 h-6;
    }
  
    .icon-small {
      @apply w-4 h-4;
    }
  
    .icon-link {
      @apply w-10 h-10;
    }
  }
  
  @layer components {
    .bullets {
      @apply -bottom-20 mx-auto;
    }
  
    .section-banner {
      @apply relative sm:static;
    }
  
    .section-banner > div:first-child {
      @apply absolute sm:static z-10 left-0 sm:left-auto top-3 sm:top-auto;
    }
  }
  